@import "~antd/es/style/themes/default";

.@{ant-prefix} {
  &-breadcrumb {
    margin: 16px 0;
    text-align: left;
  }

  &-about {
    margin-bottom: 50px;
  }

  &-menu-horizontal > &-menu-item {
    margin-top: 8px;
    float: right;
  }

  &-menu {
    background-color: transparent;
    height: 100vh;
  }

  &-layout {
    //background: #ff6e7f;
    //background: -webkit-linear-gradient(to right, rgba(191, 233, 255, .5), rgba(255, 110, 127, .3));
    //background: linear-gradient(to right, rgba(191, 233, 255, .5), rgba(255, 110, 127, .3));

    &-sider {
      background-color: transparent;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
    }

    &-sider-pad {
      visibility: hidden;
      height: 64px;
    }

    &-header {
      width: 100%;
      text-align: -webkit-center;
      background-color: transparent;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);

      &-menu {
        background-color: transparent;
        border-bottom: none;
      }

      &-trigger {
        padding: 0;
        float: left;
        font-size: 18px;
        line-height: 64px;
        cursor: pointer;
        transition: color .3s;

        &:hover {
          color: #1890ff;
        }
      }
    }

    &-content {
      padding: 0 50px;
      text-align: -webkit-center;
    }

    &-footer {
      width: 100%;
      text-align: -webkit-center;
      background-color: transparent;
      box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.15);
    }
  }

  &-login {
    &-card {
      height: 375px;
      max-width: 400px;
      margin-bottom: 50px;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
      //background-color: transparent;
    }

    &-form {
      max-width: 300px;
      min-height: 225px;

      &-button {
        width: 100%;
      }

      &-forgot {
        float: right;
      }

      &-remember {
        float: left;
      }
    }
  }
}
